@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tw-ring-color: theme('colors.brand.600');
    }

    html {
        font-family: theme('fontFamily.sans');
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'ss01';
        height: 100%;
    }

    body {
        @apply flex min-h-full flex-col grow;

        @apply bg-slate-50 text-slate-900;
        @apply dark:bg-slate-900 dark:text-slate-50;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full rounded border-gray-400 shadow-sm focus:border-indigo-600 focus:ring-indigo-600;
    }

    [type='checkbox'],
    [type='radio'] {
        @apply rounded border-gray-400 text-indigo-600 focus:ring-indigo-600;
    }
}
